.box {
    margin: 20px 10px 40px 10px;
    .codeFont {
        font-weight: bolder;
        font-size: 12;
        color: #ddddaa;
    }
    .p {
        
        img {
            width: 200px;
            height: 100px;
            background-size: 100% 100%;
            float:left;
            margin: 10px;
        }
    }

}
